<header><div></div></header>
<main>
  <div class="container bg-light text-center d-flex flex-column justify-content-center align-items-center single-page">
    <h1 class="fw-bold">
      <i class="icon icon-envelope-at d-block"></i><span class="fw-lighter">Contact</span> Rayatiga.
    </h1>
    <p>
      Contact us for more information about your feedback. We will be happy to help you, all replies and information
      will be provided via email.
    </p>
    <section class="text-start w-100 bg-light">
      <div class="container">
        <form action="https://formspree.io/f/xknavynp" method="post">
          <div class="mb-3">
            <label for="email" class="form-label">Email address <span class="text-danger">*</span></label>
            <input
              type="email"
              name="email"
              class="form-control bg-transparent border-secondary"
              id="email"
              placeholder="name@example.com"
              required
            />
          </div>
          <div>
            <label for="message" class="form-label">Comment or message <span class="text-danger">*</span></label>
            <textarea
              name="message"
              class="form-control bg-transparent border-secondary"
              id="message"
              rows="5"
              placeholder="Enter your comments or messages here."
              required
            ></textarea>
            <button type="submit" class="btn btn-dark mt-3 d-none d-md-block">Send Message</button>
            <button type="submit" class="btn btn-dark mt-3 d-block d-md-none w-100">Send Message</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</main>
