<header><div></div></header>
<main>
  <div
    class="container bg-light text-center d-flex flex-column justify-content-center align-items-center single-page"
  >
    <h1 class="fw-bold">
      <i class="icon icon-card-heading d-block"></i
      ><span class="fw-lighter">About</span> Rayatiga.
    </h1>
    <p>
      We are an agency engaged in the field of Information Technology which
      specifically provides web solution services. There are three services that
      we have, including domain name reservation, WordPress hosting, and website
      establishment services. We chose WordPress because of its simplicity and
      ease of use once handed over to our clients. With WordPress clients can
      manage their website easily with the help of the Admin Dashboard.
    </p>
    <a
      class="btn btn-dark"
      rel="nofollow noopener noreferrer"
      target="_blank"
      href="http://linkedin.com/company/rayatiga/"
      >Rayatiga LinkedIn</a
    >
  </div>
</main>
