<header><div></div></header>
<main>
  <div
    class="container bg-light text-center d-flex flex-column justify-content-center align-items-center single-page"
  >
    <h1 class="fw-bold">
      <i class="icon icon-cpu d-block"></i
      ><span class="fw-lighter">Information Technology</span> Agency.
    </h1>
    <p>
      Rayatiga is an agency engaged in the field of information technology.
      Rayatiga provides web services such as domain name reservation, WordPress
      hosting, and WordPress-based website establishment services such as
      portfolios, company profiles, to e-commerce.
    </p>
    <a href="/hosting/" class="btn btn-dark">Main Service</a>
  </div>
</main>
