<main>
  <div class="container bg-light text-center d-flex flex-column justify-content-center align-items-center single-page">
    <h1 class="fw-bold"><span class="fw-lighter">Project</span> Rayatiga</h1>
    <p>
      Check out our cool projects we've completed. If you want your project to appear on our list, please visit the project link below and your
      project will be visible there!
    </p>
    <a class="btn btn-dark" href="https://github.com/rayatiga/" rel="nofollow noopener noreferrer" target="_blank">Go to GitHub</a>
  </div>
</main>
